.employees-view-container {
    width: 90%;
    margin: auto;
}

.employees-container {
    width: 90%;
    margin: auto;
}

#employee-filter {
    margin: 10px;
    width: 50%;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 3px 16px;
    font-weight: bold;
    font-size: medium;
    background: -moz-linear-gradient(top,  rgba(255,0,164,0.5) 0%, rgba(255,250,253,0) 49%, rgba(255,255,255,0) 50%, rgba(255,0,164,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,0,164,0.5) 0%,rgba(255,250,253,0) 49%,rgba(255,255,255,0) 50%,rgba(255,0,164,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,0,164,0.5) 0%,rgba(255,250,253,0) 49%,rgba(255,255,255,0) 50%,rgba(255,0,164,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ff00a4', endColorstr='#80ff00a4',GradientType=0 ); /* IE6-9 */

}
p.edit-employees {
    margin: 15px 0;
}
img.bdimg {
    height: 20px;
}
.bd-now{
    background: rgb(184,225,252) !important; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%) !important;
    background: -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%) !important;
    background: linear-gradient(to bottom,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ) !important;

}
.bd-ended{
    color: white !important;
    background: rgb(243,197,189) !important;
    background: -moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%) !important;
    background: -webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%) !important;
    background: linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ) !important;

}
.bd-soon{
    background: rgb(252,234,187) !important;
    background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%) !important;
    background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%) !important;
    background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ) !important;
}
.square{
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.legenda{
    float: right;
}

.legenda ul{
    list-style-type: none;
}

.legenda ul li{
    margin: 10px;
}
.bd-ended a {
    color: white;
}
.emImg:hover{
    height: 250px;
    position: absolute;
    z-index: 1000;
}
















