#disable_html_escaping()
$webResourceManager.requireResourcesForContext("employees-list")


#if( $isHr )

    <div class="employees-container">

        <div>
            <label for="employee-filter">$i18n.getText('employee.filter'): </label>
            <input placeholder="$i18n.getText('employee.start.type')..." id="employee-filter" type="text">
        </div>

        <table id="employees-table"></table>

    </div>
#else

    <p>PERMISSION ERROR! YOU A NOT A MEMBER OF 'HR360' GROUP!</p>

#end

<div id="i18n" style="display: none">

    <p id="employee-department">$i18n.getText('employee.department')</p>
    <p id="employee-name">$i18n.getText('employee.name')</p>
    <p id="employee-position">$i18n.getText('employee.position')</p>
    <p id="employee-in-phone">$i18n.getText('employee.in.phone')</p>
    <p id="employee-ext-phone">$i18n.getText('employee.ext.phone')</p>
    <p id="employee-email">$i18n.getText('employee.email')</p>
    <p id="employee-birthday">$i18n.getText('employee.birthday')</p>
    <p id="employee-photo">$i18n.getText('employee.photo')</p>
    <p id="employee-no-users">$i18n.getText('employee.no.users')</p>
    <p id="employee-loading">$i18n.getText('employee.loading')</p>

</div>