#disable_html_escaping()
$webResourceManager.requireResourcesForContext("employees-view-list")

<div class="employees-view-container">

    <div class="legenda">
        <ul>
            <li><span class="square bd-now"></span>$i18n.getText('employee.lg.bd.today')</li>
            <li><span class="square bd-ended"></span>$i18n.getText('employee.lg.bd.recently')</li>
            <li><span class="square bd-soon"></span>$i18n.getText('employee.lg.bd.soon')</li>
        </ul>

    </div>

    #if( $isHr )
        <p class="edit-employees"><a href="employees.jspa" class="aui-button aui-button-primary">$i18n.getText('employee.edit.employee')</a></p>
    #end
    <div>
        <label for="employee-filter">$i18n.getText('employee.filter'): </label>
        <input placeholder="$i18n.getText('employee.start.type')..." id="employee-filter" type="text">
    </div>

##    <div class="employees-spinner"></div>

    <div style="display: none" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <table id="employees-table" class="aui">
        <thead>
        <tr>
            <th>$i18n.getText('employee.photo')</th>
            <th class="headerSortUp">$i18n.getText('employee.department')</th>
            <th>$i18n.getText('employee.name')</th>
            <th>$i18n.getText('employee.position')</th>
            <th>$i18n.getText('employee.in.phone')</th>
            <th>$i18n.getText('employee.ext.phone')</th>
            <th>$i18n.getText('employee.email')</th>
            <th>$i18n.getText('employee.birthday')</th>
        <tr>
        </thead>
    </table>

</div>

<div class="employees-animate-container" style="display: none">
    <img class="emloyees-diablo" src="$!requestContext.canonicalBaseUrl/download/resources/ua.softlist.employee.employees-list:employees-view-list-resources/images/heck.gif" alt="heck">
</div>